body{
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}
header{
  width: auto;
  height: 150px;
  background: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer
{
  width: auto;
  height: 150px;
  background: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main{
  width: 300px;
  height: 100px;
  margin: auto;
}

#submit{
  margin-left: 70px;
}
